[submodule "third-party/godot-cpp"]
	path = third-party/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.5
[submodule "third-party/opus"]
	path = third-party/opus
	url = https://github.com/xiph/opus.git
[submodule "third-party/speexdsp"]
	path = third-party/speexdsp
	url = https://github.com/xiph/speexdsp.git
[submodule "third-party/doctest"]
	path = third-party/doctest
	url = https://github.com/doctest/doctest.git
