[submodule "godot-cpp"]
	path = third-party/godot-cpp
	url = git@github.com:godotengine/godot-cpp.git
[submodule "opus"]
	path = third-party/opus
	url = git@github.com:xiph/opus.git
[submodule "third-party/speexdsp"]
	path = third-party/speexdsp
	url = git@github.com:xiph/speexdsp.git
